A4 : Loops (While, For) solution Date : 04/03/2024

In [ ]:
Q1. Print number from 1 to 5 using a while loop.

In [2]:
# solution
num1 = 1
num2 = 5
while (num1 <= num2) :
    print(num1)
    num1 += 1

1
2
3
4
5

Q2. Calculate the sum of number from 1 to 10 using a while loop.

In [3]:
# solution
num1 = 1
num2 = 10
num3 = 0
while(num1 <= num2):
    num3 += num1
    num1 += 1
print("sum of the numbers between 1 to 10 : " ,num3)

sum of the numbers between 1 to 10 :  55

Q3. Calculate the factorial of a number using a for loop.

In [7]:
# solution
num = int(input("Enter a number :  "))
fact = 1
for i in range(1, num+1):
    fact *= i
print("factorial of a number is :",fact)

Enter a number :   5

factorial of a number is : 120

Q4. Count the number of vowel in a string using a for loop.

In [10]:
# solution
s = str(input("Enter a string : "))
count = 0
for i in s: 
    if (i=="a")|(i=="e")|(i=="i")|(i=="o")|(i=="u"):
        count += 1
print("number of vowel in the given string is : ",count)

Enter a string :  Deep Narayan Singh

number of vowel in the given string is :  6

Q5. Print a pattern using nested loop.

In [5]:
# solution
num = int(input("Enter number of row : "))
for i in range(1, num+1):
    for j in range(1, i+1):
        print("*", end = " ")
    print()

Enter number of row :  5

*
* *
* * *
* * * *
* * * * *

Q6. Generate a multiplication table using nested loop.

In [8]:
# solution
num = int(input("Enter a number for a table : "))
for i in range(1, 11):
    mul = num * i
    print(num,"*",i,"=", mul)

Enter a number for a table :  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50